@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* body {
    margin: 0;
    font-family: "Electrolize", sans-serif;
} */

body {
  font-family: 'Inter';
}

.ant-btn-primary {
  background-color: #1677ff;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .menu-link.active {
    @apply !text-[#40a9ff];
  }

  
  /* .ant-table {
    overflow-x: auto;
    white-space: nowrap;
  } */
  
}
